/* *=univer selector*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* prin covertire px in rem si covertire px in % 
    da posibilitea de mari fontul fara a fi nevoie sa schimban 
    de fiecaredata px ei vor mosteni cea ce a fost stabilit global 
    1rem =10px 
    100% = 16px */
    //aceasta defineste cat este 1rem
    font-size: 62.5%;
    
    
    
    @include respond(tab-land) {//width <1200px ?
        font-size: 56.25%; //1rem = 9px, 9/16 =56.25%
    }
    @include respond(tab-port) { // width < 900px ?
        font-size: 50%; // 1rem = 8px, 8/16 =50%
    }
    @include respond(big-desktop) {
        font-size: 75%; //1 rem = 12px, 12/16 =75
    }

}


body {

    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) { // width < 900px ?
        padding: 0;
    }
}

// cand selectezi text va folosi culorile stabilite de noi
::selection {
    background-color: $color-primary;
    color: $color-white;
}