body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
    

}

// schimbarea culori si formatarea  textului din h1 
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    

    // fix animatie shaking 
    backface-visibility: hidden;
    // o margine intre buton si h1 
    margin-bottom: 6rem;


    

    // neste
    // formatarea textului din primul span din interiorul lui h1  */
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        

        // ========= animatie text =========== 
        animation-name: moveInLeft;
        animation-duration: 5s;
        animation-timing-function: ease-out;

        // animation-iteration-count: 3;
        // animation-duration: 1s; 
        // ===================================

        // respond to diverse divice
        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
        }
    }

    // formatarea textului din al doilea span din interiorul lui h1 */
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        // animatie text 
        animation: moveInRight 5s ease-out;

        // respond to diverse divice
        @include respond(phone) {
            letter-spacing: .5rem;
            
        }
    }

}


// ==================== about page ==========================
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // schimbarea culorii a textului 
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    //====================================
    letter-spacing: .2rem; 
    transition: all .2s;

     // respond to diverse divice
     @include respond(tab-port) {
        font-size: 3rem;
        
    }
    
     @include respond(phone) {
        font-size: 2.5rem;
        
    }
    // ============================

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);

    }

}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

// =========================================================